<div class="bg-hero-pattern" data-controller="home">
  <div class="flex flex-col justify-center h-96 px-16 w-4/5 text-white tracking-tight space-y-1">
    <h2 class="text-5xl font-bold uppercase">A Neighborhood of <span class="text-maroon-dark" data-home-target="people"></span></h2>
    <p class="text-2xl">Greenmount West is a vibrant residential neighborhood in the heart of Baltimore City's Arts & Entertainment District.</p>
    <p class="text-2xl">It is a place grounded in tradition and fueled by creativity. Find your place, here!</p>
  </div>
</div>
