<div class="bg-forest-green-light p-4 flex flex-col h-full text-white tracking-tight flex-1 grow">
  <p class="text-sm">Greenmount West is a vibrant residential neighborhood in the heart of Baltimore City's Arts & Entertainment District.</p>
  <p class="text-sm">It is a place grounded in tradition and fueled by creativity. Find your place, here!</p>
</div>
