<div class="bg-forest-green-50 p-4 flex flex-col h-full text-cream tracking-tight flex-1 grow space-y-2">
  <p>Greenmount West is a vibrant residential neighborhood in the heart of Baltimore City's Arts & Entertainment District.</p>
  <p>It is a place grounded in tradition and fueled by creativity. Find your place, here!</p>
</div>
