@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col min-h-screen;
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded-md bg-cream text-forest-green-500 cursor-pointer;
  }

  .field_with_errors {
    @apply border-2 border-red-500;
  }

  .link {
    @apply underline underline-offset-4 decoration-2 lg:no-underline lg:link-underline lg:pb-1 lg:mb-1;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .25s ease-in-out;
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .notice {
    @apply text-lg text-center py-2 empty:py-0 bg-forest-green-300 text-cream;
  }

  .alert {
    @apply text-lg text-center py-2 empty:py-0 bg-red text-cream;
  }
}
